/* $import-google-fonts: false; */
/* $icons-font-path: '/semantic-ui'; */
/* $flags-image-path: '/semantic-ui'; */

/* @import '~semantic-ui-sass/scss/globals/all'; */
/* @import '~semantic-ui-sass/scss/elements/all'; */
/* @import '~semantic-ui-sass/scss/collections/all'; */
/* @import '~semantic-ui-sass/scss/views/all'; */
/* @import '~semantic-ui-sass/scss/modules/all'; */
@import '~semantic-ui-css/semantic.min.css';

$transition-speed: .1s;
$line-color: grey;

html, body {
    background-color: white;
}

.github-user-info-app {
    .ui.segments {
        .ui.segment {
            text-align: center;
        }
    }
}
