$transition-speed: .1s;
$line-color: grey;

html, body {
    background-color: white;
}

.github-user-info-app {
    .ui.segments {
        .ui.segment {
            text-align: center;
            padding: 50px 20px;
        }
    }
}
